$font-family-base:  "Sans Serif", serif;

//color-variable
$title-color:#182744;
$btn-bg-color:#b68c5a;
$white:#fff;
$top-head-bg:#f8f8fa;
$border-color:#e0e1e6;
$black:#000;
$light-grey:#63666f;
$work-section-bg-color:#eff0f2;
$slick-button-bg:#e1e2e6;
$light-blue:#5f6e8b;